@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root {
    --main-color: #1A374D;
    --main-text-color: #B1D0E0;
    --main-hover-color: #6998AB;
    --main-transition: 0.7s ease;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* start header */

header {
    background-color: #1A374D;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
    color: var(--main-text-color);
    letter-spacing: 1px;
}

.navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--main-text-color);
    padding-left: 30px;
    transition: all .5s ease;
}

.navigation a:hover {
    color: var(--main-hover-color);
}


/* end header */


/* start main */

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: white;
    font-weight: 500;
    font-size: 1.4em;
}

.main h2 span {
    font-size: 2em;
    color: var(--main-text-color);
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: var(--main-color);
    background-color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: var(--main-color);
    transform: scale(1.1);
    color: var(--main-text-color);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons .facebook i,
.social-icons .linkedIn i,
.social-icons .youtube i,
.social-icons .instagram i {
    transition: .5s ease;
}

.social-icons .linkedIn:hover i {
    color: #0077b5;
    transform: translateY(-4px);
}

.social-icons .facebook:hover i {
    color: #1877f2;
    transform: translateY(-4px);
}

.social-icons .youtube:hover i {
    color: #ff0000;
    transform: translateY(-4px);
}

.social-icons .instagram:hover i {
    color: #ffdc80;
    transform: translateY(-4px);
}


/* end main */


/* start sevcies*/

.title {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: all .7s ease;
}

.card:hover {
    transform: scale(1.1);
    background-color: var(--main-color);
    color: white;
}

.card:hover h3 {
    color: white;
}

.card:hover .icon {
    color: white;
}

.icon {
    font-size: 8em;
    color: var(--main-hover-color);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.info {
    text-align: center;
}

.info h3 {
    font-size: 1.2em;
    color: var(--main-color);
    font-weight: 700;
    margin: 10px;
}


/* end sevcies*/


/* Start Projects*/

.projects {
    background-color: var(--main-text-color);
}

.projects .title {
    padding-top: 50px
}

.projects .content {
    margin-top: 30px;
}

.projects .NewBie .project-image img {
    height: 70%;
}

.projects .Classic .project-image img {
    height: 70%;
}

.projects .floks .project-image img {
    height: 70%;
}

.projects .Tanatos .project-image img {
    height: 70%;
}

.projects .projects-card {
    background-color: #fff;
    border: 2px solid#fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: all .7s ease;
}

.projects .projects-card.narrow {
    height: 70%;
}

.projects .projects-card:hover {
    transform: scale(1.1)
}

.projects .projects-card:hover .project-image {
    opacity: .9;
}

.projects .project-image img {
    width: 100%;
}

.projects .project-info {
    padding: 1em;
}

.projects .project-category {
    font-size: 0.8em;
    color: #000;
}

.projects .project-tilte {
    display: flex;
    justify-content: space-between;
    padding-top: 1.4em;
    text-transform: uppercase;
}

.projects .more-details {
    color: var(--main-color);
    text-decoration: none;
    transition: all .7s ease;
}

.projects .more-details:hover {
    color: var(--main-hover-color)
}


/* End Projects*/


/* Start content */

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000 !important;
}

.contact .info h3:hover {
    color: #fff !important;
}

.contact .info p {
    font-size: 1.2em;
}


/* End content */


/* Start footer */

.footer {
    background-color: #000016;
    color: var(--main-text-color);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: var(--main-text-color);
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}


/* end footer */


/* start responsive */

@media (max-width:1023px) {
    header {
        padding: 10px 12px;
        font-size: 0.9em;
    }
    .logo {
        font-size: 1.2em;
    }
    .navigation a {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
    .main {
        background: url("backgroundresponsive.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        text-align: center;
    }
    .main h2 {
        font-size: 2em;
    }
    .main-btn {
        font-size: 1.8em;
    }
    .main .social-icons .facebook i,
    .main .social-icons .linkedIn i,
    .main .social-icons .youtube i,
    .main .social-icons .instagram i {
        font-size: 1.5em;
        padding-top: 1em;
    }
    .main-content h2 {
        font-size: 1em;
    }
    .main-content h3 {
        font-size: 1.6em;
    }
    footer .social-icons .facebook i,
    .social-icons .linkedIn i,
    .social-icons .youtube i,
    .social-icons .instagram i {
        font-size: 1em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}


/* start responsive */


/* start responsive */